.top-menu {
  display: flex;
  justify-content: space-between;
  height: 16px;
  position: relative;
  top: -20px;
  .toolbar-button {
    border: none;
    background: none;
  }
}
.main-actions {
  display: flex;
  gap: 15px;
}

.action-button {
  font-size: 30px;
  width: 30px;
  height: 30px;
}