<div class="d-flex justify-content-center flex-column align-items-center">
    <mat-form-field appearance="fill">
        <mat-label>סוג שיער</mat-label>
        <mat-select>
            <mat-option value="one">טבעי</mat-option>
            <mat-option value="two">צבוע</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>אורך שיער</mat-label>
        <mat-select>
            <mat-option value="one">קצר</mat-option>
            <mat-option value="two">עד הסנטר</mat-option>
            <mat-option value="two">עד הכתפיים</mat-option>
            <mat-option value="two">ארוך</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="d-flex justify-content-center align-items-center flex-column pt-4">
    <div>
        <!--    <mat-icon (click)="uploadImage()">camera</mat-icon>-->
        <mat-icon (click)="uploadImage()" style="transform: scale(2)">camera_alt</mat-icon>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <img [src]="url" *ngIf="url" style="width: 40%; height: 40%">
    </div>
</div>
<input #image class="upload-image"
       type="file" accept="image/*"
       capture="camera"
       (change)="processBinary(image)">
