:host {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.select-lang {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 8px 0;
    font-size: 16px;
}
.site-header {
    -webkit-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;
    padding: 10px 0;
    background-color: #ffffff;
    border-bottom: 1px solid #e2e2e2;
    top: 40px;
    position: fixed;
    width: 100%;
    z-index: 11;
}

.site-header .site-branding img {
    max-width: 180px;
}

.main-content {
    flex: 1 1 auto;
    margin-top: 77px;
    position: relative;
    overflow: hidden;
    padding: 25px 0 0;
    background-color: #cdedf1;
}
