.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .main-container {
    flex-direction: column-reverse;
    flex-flow: wrap-reverse;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: auto;
    .gender-group {
      align-items: center;
      label {
        margin-left: 5px !important;
      }
      mat-radio-button {
        margin-left: 10px;
        ::ng-deep .mat-radio-label-content {
          padding: 0 !important;
        }
      }
    }
  }
}

.code-sign {
  width: 30px;
  height: 30px;
}
